
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900);

@import "../../../public/limitless_1_6/layout_1/LTR/default/starters/assets/css/icons/icomoon/styles.css";
@import "../../../public/limitless_1_6/layout_1/LTR/default/starters/assets/css/bootstrap.css";
@import "../../../public/limitless_1_6/layout_1/LTR/default/starters/assets/css/core.css";
@import "../../../public/limitless_1_6/layout_1/LTR/default/assets/css/components.css";
@import "../../../public/limitless_1_6/layout_1/LTR/default/starters/assets/css/colors.css";
@import "../../../public/limitless_1_6/layout_1/LTR/default/starters/assets/css/colors.css";
@import "../../../public/limitless_1_6/layout_1/LTR/default/assets/css/extras/animate.min.css";
@import "../../../public/css/element-ui.css";

// Variables
//@import "variables";
@import "navigation";
@import "pace/minimal";
@import "avatar";
// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


//customize
.card{
  border: 1px solid #dadada;
    padding: 10px;
}

.show-grid{
  margin: 10px 0 10px 0;
}

.error{
  background-color: red;
}
